body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.lista-fhirs-container {
  padding: 20px;
}

.title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.custom-table-container {
  width: 100%;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

.custom-table th {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
}

.custom-table tr:nth-child(even) {
  background-color: var(--tertiary-color);
}

.link {
  color: var(--primary-color);
}

.delete-button {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-button:hover {
  background-color: #0a5f20;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.lista-fhirs-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondary-color);
}

.custom-table-container {
  flex: 1;
}
