.footer {
    color: white;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background: #214559;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adicionado box-shadow */

  }

  
  .footer-text {
    color: #fff;
    font-size: 1rem;
  }
  
  